@font-face {
    font-family: Libre Baskerville;
    src: url(../assets/fonts/librebaskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    font-weight: normal;
    src: url(../assets/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'LatoBold';
    font-weight: bold;
    src: url(../assets/fonts/lato/Lato-Bold.ttf);
}

#textContainer {
    text-align: center;
    margin-top: 20vh;
}

#textDiv {
    font-family: Libre Baskerville;
    font-size: 100px;
    font-weight: bold;
}

p {
    font-family: Lato;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}